@import "test.less";

@card-color: rgba(255, 255, 255, .7);
@card-color-fallback: rgb(255, 255, 255);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: @main-green;
}

.croupier{
  position: fixed;
  height: 100%;
  right: 0px;
}

#croupier__area{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.player__area{
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px auto;
  border: 1px dashed @card-color-fallback;
  border: 1px dashed @card-color;
  border-radius: 20px;
  overflow: hidden;
  &:hover{
    cursor: pointer;
  }
  &_active{
    background: darken(@main-green, 3%);
    border: 1px dashed darken(@main-green, 20%);
  }
  &_dropped{
    background: none;
    border: 1px dashed @card-color-fallback;
    border: 1px dashed @card-color;
  }
}

.player__label{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  color: @card-color-fallback;
  color: @card-color;
  text-align: center;
  transform: translate(-50%, -50%);
  &_active{
    color: darken(@main-green, 20%);
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}