<div class="row" id="table">
    <div class="col-md-8">
        <player ng-repeat="i in getNumber(number) track by $index" />
    </div>
    <div class="col-md-4 croupier">
        <croupier>
            <div cards></div>
        </croupier>
    </div>
</div>